/*  Leandro Zambelli
 */


/* Colors:

Blue            - header and titles:            #292d96
Gradient        - background of title page:     #31349a and #e0b0f9
Medium Gray     - Main Paragraph:               #444
Light Gray      - Footer:                       #888
Gray            - Footer Bottom:                #777

*/


@import url(https://fonts.googleapis.com/css?family=Federo);
@import url(https://fonts.googleapis.com/css?family=Lora);

body { 
    overflow-x: hidden !important
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* Custom scrollbar
*/

::-webkit-scrollbar{width: 12px}
::-webkit-scrollbar-track{background:#292d96}
::-webkit-scrollbar-thumb{background:#050742}


/* Loading screen
*/

#load { display: none }

.loading { position: fixed; width: 100%; height: 100%; background: #292d96; overflow: hidden; z-index: 2}
.loading-face {position: absolute; width: 60px; height: 80px; background: #292d96; top: 50%; left: 50%; margin: -40px 0 0 -150px; z-index: 3}

.centralized-text {width: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) }


/* =BOOTSTRAP RESET
 */

.btn { padding:15px 50px 16px 50px; position: relative;  }
.btn-sm, .btn-group-sm > .btn { padding: 9px 35px 10px 35px; font-size: 0.9rem; border-radius: 100px }

.btn-primary { background-color: hsl(238 57% 37%); border-color: hsl(238 57% 37%); transition: all 0.2s ease  }
.btn-primary span {
    position: absolute;
    top:-1px;
    right: 18px;
    width: 40px;
    height: 42px;
    padding-top: 8px;
background: #0C0E5C;
    opacity: 0;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    transition: all 0.2s ease
}
.btn-primary:hover span { right: -18px; opacity: 1}

.btn-primary:hover{background-color: hsl(238 57% 30%); border-color: hsl(238 57% 30%); }
.btn-primary:hover{  padding-left: 30px}
.btn-primary:focus, .btn-primary.focus{background-color: hsl(238 57% 30%); border-color: hsl(238 57% 47%)}
.btn-primary:active, .btn-primary.active{background-color: hsl(238 57% 30%)!important; border-color: hsl(238 57% 47%)!important }


/* =CLASSES
 */

.push-down-5 { margin-top: 5px } /* Usado pra alinhar o a img do header com o logo */

.text-white { color: #fff }
.text-blue { color: #292d96 }

.centralized-img { position: absolute; top:50%; margin-top: -120px} /* centraliza a foto da pagina inicial com o texto */

.bg-gradient { background: linear-gradient(145deg, #31349a 0%,#e0b0f9 100%) } /* bg usado nos titulos */
.bg-blue { background: #292d96 } /* bg-usado no header */

.line { height: 1px; width: 70px; margin:10px auto 83px auto } /* linha usada embaixo dos titulos */

.padding-header { padding-top: 56px; padding-bottom: 36px; } /* usado para dar espaco ao header */
.padding-title { padding-top: 38px; padding-bottom: 38px; } /* usado para dar espaco ao banner e titulo */
.padding-content { padding-top: 84px; padding-bottom: 84px; } /* usado para dar espaco ao conteudo */
.no-padding { padding: 0 }

.space { margin-top: 126px } /* cria espaco entre rows */

@media (max-width:767px){
    .space { margin-top: 84px }
}

.relative { position: relative }
.absolute { position: absolute }

@media (max-width:1199px){
    .icon-banner { top: -20px } /* icone usado no baner do index para alinhar pra fora do container */
}

@media (max-width:991px){
    .icon-banner { top: 14px } /* icone usado no baner do index para alinhar pra fora do container */
}

.back-top {
    font-size: 2em;
    position: fixed;
    bottom: 0;
    right: 4px;
    padding: 9px 25px 0px 27px;
    background: #292d96;
    color: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: ease 0.2s
}
.back-top:hover, .back-top:focus, .back-top:active { color: #fff; text-decoration: none }
.back-top:hover{transition: all ease-in-out 0.1s; background: #0C0E5C}

@media(max-width:1100px){
    .back-top { bottom: 38px; border-radius: 4px; padding-bottom: 4px }
}

.hide-me{visibility: hidden; opacity: 0} /* usado para esconder o botao de voltar ao topo */


/* =TYPOGRAPHY
 */

h1, h2, h3 { font-family: 'Federo', sans-serif; }
h4, h5, h6 { font-weight: 300; }

h1 { font-size: 2em; line-height: 1.15em }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.4em; }
h6 { font-size: 1.3em; }

main p {
    font-family: "Lora", serif;
    margin-top: 0;
    margin-bottom: 1.6em;
    font-size: 1.25em;
    line-height: 1.4em;
    color: #444;
}

p:last-child { margin-bottom: 0 }

a { transition: all ease 0.15s; color: #4489e0 }

a[href^="tel:"], a[href^="mailto:"] { color: #333; }
a[href^="tel:"]:hover, a[href^="mailto:"]:hover { color: #292d96; text-decoration: none }


/* =NAV
*/


nav ul { margin-top: 12px;  padding: 0 }
nav li { padding-right: 10px; display: inline-block; }
nav a { position: relative; color: #fff; font-weight: 300; transition: all ease 0.25s; }
nav a:hover { color: skyblue; text-decoration: none }

nav a:after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom:  0;
    left: 0;
    background-color: skyblue;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
    border-radius: 2px;
}

nav a:hover:after { width: 100%; visibility: visible; }

@media (max-width:767px){
    nav ul{max-height: 0; overflow: hidden; transition: linear 0.2s}
    nav li{display: block; text-align: left; border-bottom: 1px dashed rgba(0,0,0,0.2)}
    nav a{ display: block; padding: 10px;}
    nav a:after { display: none}

    .btn-toggle-nav {
        position: absolute;
        top: 0;
        left: 0;
        padding:14px 29px 28px 11px;
        background: #fff;
        border-bottom-right-radius: 100px;
        z-index: 1
    }

    .bar{display: block; margin:3px 0; width: 24px; height: 3px; background:#292d96; transition: linear 0.2s}

    .bar-close .bar:nth-child(1) {-webkit-transform:rotate(45deg) translate(5px,4px); transform: rotate(45deg) translate(5px,4px)}
    .bar-close .bar:nth-child(2) {visibility: hidden; opacity: 0}
    .bar-close .bar:nth-child(3) {-webkit-transform:rotate(-45deg) translate(4px,-4px); transform: rotate(-45deg) translate(4px,-4px)}
}


/* =FOOTER
 */

footer { margin: 0 auto; padding: 70px 0; background: #888; }

@media (min-width: 1351px){ 
    footer { width: 90%; border-top-left-radius: 4px; border-top-left-radius: 4px }
}

@media (max-width:870px){
    footer { padding: 46px 0 46px 20px; }
}

footer p { font-size: 0.85em; color: #fff; font-weight: 400;}
footer h4 { position: relative; color: #fff; margin-bottom: 25px; font-weight: 400; }

footer a { position: relative; color: #fff; font-size: 0.85em }
footer a:hover { color: #ddd; text-decoration: none; }

footer a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: #ddd;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
    z-index: 0;
    border-radius: 2px;
}

footer a:hover:before { width: 100%; visibility: visible; }

footer a[href^="tel:"], footer a[href^="mailto:"] { color: #fff; }
footer a[href^="tel:"]:hover, footer a[href^="mailto:"]:hover { color: #ddd; }

.footer-bottom { clear:both; padding:8px 0 10px 0; background:#777; font-size:0.85em!important; color:#fff; }
.footer-bottom a{ color: #fff; }
.footer-bottom a:hover { color: #ccc; }

@media (min-width:1351px){
    .footer-bottom {  margin:0 auto 56px auto; width: 90%; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; }
}


/* =Animated Scroll - Made by Mary Lou from Tympanus.net
*/

.cbp-so-scroller { overflow: hidden; }

/* Sides */
.cbp-so-side {
	width: 50%;
	float: left;
	margin: 0;
	overflow: hidden;
	min-height: 12em;
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	-moz-transition: -moz-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

/* Initial state (hidden or anything else) */
.cbp-so-init .cbp-so-side { opacity: 0; }

.cbp-so-init .cbp-so-side-left {
	-webkit-transform: translateX(-80px);
	-moz-transform: translateX(-80px);
	transform: translateX(-80px);
}

.cbp-so-init .cbp-so-side-right {
	-webkit-transform: translateX(80px);
	-moz-transform: translateX(80px);
	transform: translateX(80px);
}

/* Animated state */
/* add you final states (transition) or your effects (animations) for each side */
.cbp-so-section.cbp-so-animate .cbp-so-side-left,
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
	opacity: 1;
}
